.sidebar-menu {
	position: fixed;
	z-index: 2;
	width: 200px;
	opacity: 0;
	display: none;
	top: 10%;
	right: 0;
	height: 100%;
	background-color: var(--light-blue);
	transition: all 0.2s ease;

	a {
		color: var(--text-color-main);
		font-family: var(--main-font);
		font-size: 24px;
	}

	li {
		text-align: center;
	}

	li:not(:first-child) {
		margin-top: 20px;
	}

	&.active {
		display: block;
		opacity: 1;
		width: 200px;
	}
}
