$breakpoint-xxl: 1366px;

$breakpoint-xxl2: 1188px;

$breakpoint-xl: 1024px;

$breakpoint-md: 768px;

$breakpoint-md2: 630px;

$breakpoint-sm: 360px;

//отступ слева для xl экран

$indent-left-xl: 140px;

$indent-left-xxl: 195px;

$indent-left-md: 80px;

$indent-left-sm: 40px;
