@include desktop {
}

@include laptop {
	.greeting {
		&__title,
		&__subtitle,
		&__btn {
			margin-left: $indent-left-xl;
		}

		&__container {
			background-position: 103% 151%;
		}
	}
}

@include tablet {
	.greeting {
		&__title {
			margin-left: $indent-left-md;
			line-height: 60px;
			margin-bottom: 40px;
		}
		&__subtitle {
			margin-left: $indent-left-md;
		}

		&__btn {
			margin-left: $indent-left-md;
			margin-top: 40px;
		}

		&__container {
			background-position: 133% 213%;
		}
	}
}

@include tablet2 {
	.greeting {
		&__title {
			font-size: 50px;
			margin-left: $indent-left-sm;
			line-height: 50px;
		}
		&__subtitle {
			margin-left: $indent-left-sm;
		}
		&__btn {
			margin-left: $indent-left-sm;
		}
		&__container {
			background-position: -9% 300%;
		}
	}
}

@include mobile {
	.greeting {
		&__title {
			font-size: 40px;
			margin-left: $indent-left-sm;
			line-height: 40px;
		}
		&__subtitle {
			margin-left: $indent-left-sm;
		}
		&__btn {
			margin-left: $indent-left-sm;
		}
		&__container {
			background-position: 0 284%;
		}
	}
}
