@include desktop {
}

@include laptop {
	.greeting {
		padding-left: $indent-left-xl;
		padding-top: $indent-left-xl;

		&__container {
			background-position: -22% 196%;
		}
	}
}

@include tablet {
	.greeting {
		padding-left: $indent-left-md;
		padding-top: $indent-left-md;

		&__title {
			line-height: 60px;
		}

		&__container {
			background-position: -55% 175%;
		}
	}
}

@include tablet2 {
	.greeting {
		padding-left: $indent-left-sm;
		padding-top: $indent-left-sm;

		&__title {
			font-size: 50px;
			line-height: 50px;
		}

		&__container {
			background-position: -9% 300%;
		}
	}
}

@include mobile {
	.greeting {
		padding-left: $indent-left-sm;
		padding-top: $indent-left-sm;
		&__title {
			font-size: 40px;
			line-height: 40px;
		}

		&__container {
			background-position: 0 284%;
		}
	}
}
